.wrapper {
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
}

.App {
  margin: 0 auto;
}

/* ------------------------------------------------ */

/* Mobile First Design */
/* Media Queries */

/* Small */
@media (min-width: 576px) {}

/* Medium */
@media (min-width: 768px) {}

/*Large*/
@media (min-width: 992px) {}

/*Extra large*/
@media (min-width: 1200px) {}

/*Extra extra large*/
@media (min-width: 1400px) {}